header {
  position: relative;
  height: rem( 80 );
  box-shadow: 0 rem( 2 ) rem( 2 ) 0 rgba(0, 0, 0, 0.16);

  .inner {
    max-width: map-get($grid-breakpoints, xl);
    margin-left: auto;
    margin-right: auto;

    span {
      display: block;

      &.logo {
        float: left;
        font-family: $logo;
        color: $midGreen;
        text-transform: uppercase;
        font-size: em( 41 );
        margin: rem( 10 ) 0 0 rem( 17 );
      }

      &.tagLine {
        float: right;
        font-family: $reg;
        font-size: em( 12 );
        line-height: em( 24 );
        background-color: $lightGrey;
        padding: rem( 10 ) rem( 16 );
        @include border-radius( rem( 22 ) );
        margin: rem( 20 ) rem( 17 ) 0;
      }
    }

    &:after {
      position: relative;
      display: block;
      clear: both;
      content: "";
    }
  }
}

#desktopForm {

  header {
    margin-bottom: rem( 73 );
  }
}
